html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: opacity .5s;
  background: #1a1a1a;
}

.container1.visible {
  opacity: 100%
}

* {
  font-family: 'Poppins', sans-serif;
}

div.main_text {
  margin-top: -30px;
  margin-bottom: -20px;
  font-size: 3.2em;
}

div.small_text {
  margin-bottom: 0%;
  font-size: 1.5em;
}

a {
  color: #fff;
}

.container1 {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

button {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  background-color: #ff8820;
  color: white;
  font-weight: 400;
  font-size: 16px;
  box-shadow: 0 4px 14px 0 rgb(0 118 255 / 39%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
  background: rgba(0, 118, 255, 0.9);
  box-shadow: 0 6px 20px rgb(0 118 255 / 23%);
}
